@media only screen and (max-width: 480px) {
	.patito{
		width: 140px !important;
		height: auto !important;
		margin: 0 auto !important;
	}
	.patito2{
		padding-bottom: 15px !important;
	}
	.sm_padding{
		padding: 15px 0 !important;
	}
}
/* RESPONSIVE CLASSES */
